
body {
    background-color: rgba(43, 95, 116, 0.898);
    font-family: Andale Mono, monospace;
    font-weight: 100;
}

.head-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header { 
    background-image: url("pexels-gabriela-palai-507410.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: right;
    
}

h1 {
    font-size: 250%;
    font-weight: lighter;
}

h2 {
    border-right: solid black 5px;
    text-align: end;
    width: 25%;
    margin: 5px;
    padding: 5px;;
    font-size: 250%;
}

nav {
    list-style: none;
    display: flex;
    align-items: center;
}


li {
    display: inline-block;
    margin: 5px;
    text-decoration: underline;

}
.navbar {
    margin-left: 40px;
}
 
header a {
    border-radius: 15%;
    border: solid black  3px;
    background-color: rgba(135, 207, 235, 0.6);
    font-size: 100%;
    color: black;
    font-weight: bold;
 }

header li {
    display: inline-block;
    margin-right: 10px;
    font-size: 125%;
    text-decoration: underline;
}

section {
    background-color:rgba(3, 77, 106, 0.923);
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
}

p {
    margin-left: 10%;
    display: flex;
    width: 50%;
}

.wrap-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#cat {
    width: 500px;
    margin: 2px;
    border: solid  rgba(255, 166, 0, 0.51) 10px;
    position: relative;
    left: 20%;
}

#cat-title {
    position: relative;
    bottom: 15%;
    left: 21%;
    width: 50%;
    background-color:rgba(255, 166, 0, 0.51);
    padding: 5%;
    font-size: 150%;
}

#horiseon {
    width: 350px;
    height: 250px;
    margin: 2px;
    border: solid  rgba(255, 166, 0, 0.51) 10px;
    position: relative;
    left: 10%
}

#horiseon-title {
    position: relative;
    bottom: 10%;
    left: 10%;
    width: 45%;
    background-color:rgba(255, 166, 0, 0.51);
    padding: 3%;
    font-size: 100%;
}

#profile {
    width: 150px;
    border-radius: 15%;
}